<div class="wrapper-container">
  <div class="wrapper"></div>
  <header>
    <div class="container">
      <div class="logo">HaveFun</div>
      <div class="search-block">
        <div class="search-input">
          <fa name="search"></fa>
          <input type="text" placeholder="Explore your own activities">
        </div>
      </div>
    </div>
  </header>
  <main class="container">
    <aside>
      <ul>
        <li>
          <p class="title">Location</p>
          <div class="input select">
            <select name="" id="">
              <option value="Taiwan">Taiwan</option>
            </select>
          </div>
        </li>
        <li>
          <p class="title">Date</p>
          <div class="input">
            <label>
              <span>from</span>
              <input type="date">
            </label>
          </div>
          <div class="input">
            <label>
              <span>to</span>
              <input type="date">
            </label>
          </div>
        </li>
        <li>
          <p class="title">Categories</p>
          <ul class="cates">
            <li>
              <label>
                <input type="checkbox">
                <span>All</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox">
                <span>Entertainment</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox">
                <span>Food</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox">
                <span>Learning</span>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox">
                <span>Outdoors</span>
              </label>
            </li>
          </ul>
        </li>
      </ul>
    </aside>
    <section>
      <router-outlet></router-outlet>
    </section>
  </main>

</div>
