
aside {
  padding: 0 20px;
  width: 320px;
  flex-shrink: 0;
  flex-grow: 0;
  > ul {
    > li {
      background: #ebebeb;
      border-bottom: 3px solid #d7d7d7;
      padding: 25px 30px;
      .title {
        font-weight: bold;
        font-size: 20px;
        line-height: 2;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

main {
  display: flex;
  section {
    padding: 20px;
    .filters-block {
      p {
        font-size: $title;
        span {
          color: $violet-deep;
        }
      }
    }
    .filters {
      display: flex;
      margin: .5em 0 2em;
      li {
        border-radius: 34px / 100%;
        border: 1px solid $violet;
        color: $violet;
        padding: 0 20px;
        line-height: 2;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      span {
        margin-right: 15px;
      }
      .remove {
        width: 14px;
        height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $violet;
        border-radius: 50%;
        position: relative;
        &::before, &::after {
          content: "";
          display: block;
          width: 80%;
          height: 1px;
          background: $violet;
          transform: rotate(45deg);
          position: absolute;
          top: 50%;
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.article {
  display: flex;
  background: white;
  margin-bottom: 2em;
  figure {
    width: 220px;
    height: 220px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
  }
  .article-block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .name {
    font-size: $title;
    color: $violet;
    font-weight: bold;
    display: inline-block;
    &:hover {
      color: #ad4fff;
    }
  }
  .description {
    font-size: $paragraph;
    height: 50px;
    overflow: hidden;
    text-align: justify;
    position: relative;
    &::after {
      content: "...";
      position: absolute;
      right: 0;
      bottom: 0;
      padding-left: 1em;
      display: inline-block;

      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+50,1+100 */
      background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    }
  }
}

.misc {
  font-size: $remark;
  display: flex;
  align-items: center;
  .author {
    font-weight: bold;
    margin-right: 1em;
  }
  .category {
    background: $gray;
    border-radius: 24px / 24px;
    color: white;
    font-style: italic;
    padding: 0 1em;
  }
}
.meta {
  font-size: $remark;
  display: flex;
  align-items: center;
  .fa {
    margin-right: .5em;
  }
  span {
    color: $gray-deep;
  }
  .location {
    margin-right: 1em;
  }
}

.article-block {
  article {
    background: #fff;
    padding: 25px 50px;
  }
  h2 {
    font-size: $title2;
    color: $violet;
    font-weight: bold;
    margin-bottom: .5em;
  }
  .misc, .meta {
    margin-bottom: 1em;
  }
  .content {
    text-indent: 2em;
    line-height: 2;
    text-align: justify;
    text-justify: inter-ideograph;
  }
}

.pagination {
  a {
    color: $violet;
  }
  .page-item {
    margin: 0 1px;
    &.active {
      .page-link {
        background-color: $violet;
        border-color: transparent;
      }
    }
    &:hover {
      .page-link {
        color: $violet;
      }
      &.active {
        .page-link {
          color: white;
        }
      }
    }
  }
  .page-link {
    border-color: transparent;
  }
}