extends _layout.pug

block content
  .container
    .header
      p CCCLOTHES
      h1 MEN'S TOPS
    .img-block.img1
      .img
        img(src="../images/1.jpg", alt="")
      h2 LINEN BLAZER
      p.num 01
      p.sub Men's outfit
    .img-block.img2
      .img
        img(src="../images/2.jpg", alt="")
      h2 FREELIFT
      p.num 02
      p.sub Men's basics
    .img-block.img3
      .img
        img(src="../images/3.jpg", alt="")
      h2 SUPER SKINNY
      p.num 03
      p.sub Men's pattern shirts
    .img-block.img4
      .img
        img(src="../images/4.jpg", alt="")
      h2 DENIM
      p.num 04
      p.sub Men's cadual
    .img-block.img5
      .img
        img(src="../images/5.jpg", alt="")
      h2 SWEATSHIRTS
      p.num 05
      p.sub Men's jacket
    .img-block.img6
      .img
        img(src="../images/6.jpg", alt="")
      h2 VINTAGE DENIM
      p.num 06
      p.sub Men's classic
    .img-block.img7
      .img
        img(src="../images/7.jpg", alt="")
      h2 EDITION
      p.num 07
      p.sub Men's shirts