<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Kogi Cosby sweater ethical</li>
  </ol>
</nav>

<div class="article-block">
  <figure>
    <img src="http://khh.travel/FileArtPic.ashx?id=705&w=1280&h=960" alt="">
  </figure>
  <article>
    <h2>Kogi Cosby sweater ethical.</h2>
    <div class="misc">
      <div class="author">Ethan Foster</div>
      <div class="category">Entertainment</div>
    </div>
    <div class="meta">
      <div class="location">
        <fa name="map-marker"></fa>
        <span data-key="Add">高雄市三民區河北二路218號</span>
      </div>
      <div class="datetime">
        <fa name="calendar"></fa>
        <span data-key="Changetime">2015-06-03T14:10:48</span>
      </div>
    </div>
    <div class="content">
      <p>高雄願景館的前身是日治時期興建的高雄市舊火車站，外觀是”和洋混合式建築”氣勢雄偉，內部則為西式的玄關及大廳。2002年為了配合鐵路、捷運、高鐵的三鐵共構，這棟老火車站建築物遷移到附近的空地上，並由市府規劃，以"數位博物館"的型式，其中歷史迴廊對於鐵道文化及往日風貌有一系列回顧，讓遊客可以重溫老車站的過往風華，而3D虛擬互動區則讓參觀者以虛擬實境的方式飛越高雄的重要景點並同時見證高雄的發展歷史。願景館是認識高雄過去與未來的最佳場所，而願景橋、鐵路文化棧道、風的祝福廣場…等公共藝術區也是遊客們最愛駐足與拍照留念的美麗景點。</p>
    </div>
  </article>
</div>