<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
  </ol>
</nav>

<div class="article-block">
  <figure>
    <img src="{{picture1}}" alt="">
  </figure>
  <article>
    <h2>{{name}}</h2>
    <div class="misc">
      <div class="author">{{opentime}}</div>
      <div class="category">{{ticketinfo}}</div>
    </div>
    <div class="meta">
      <div class="location">
        <fa name="map-marker"></fa>
        <span data-key="Add">{{add}}</span>
      </div>
      <div class="datetime">
        <fa name="calendar"></fa>
        <span data-key="Changetime">{{changetime}}</span>
      </div>
    </div>
    <div class="content">
      <p>{{description}}</p>
    </div>
  </article>
</div>