extends _layout.pug

block content
  main.container.index
    ul.lists
      li
        a(href="/stage1/index.html") 
          .img
            img(src="images/stage1.jpg" alt="Stage 1")
          .desc
            p.title
              | Stage 1:
              br
              | 2018/06/04 ~ 2018/06/10
            p 修煉重點：
              span
                | Pug(Jade)、Layout、FontAwesome、Todolist
      li
        a(href="/stage2/index.html")
          .img
            img(src="images/stage2.png" alt="Stage 2")
          .desc
            p.title
              | Stage 2:
              br 
              | 2018/06/11 ~ 2018/06/17
            p 修煉重點：
              span
                | Angular 6
      li
        a(href="/stage3/index.html")
          .img
            img(src="images/loading.svg", alt="Coming Soon")
          .desc
            p.title
              | Stage 3:
              br 
              | 2018/06/18 ~ 2018/06/24
            p Coming Soon...