<div class="filters-block">
  <p>Showing <span>15</span> results by...</p>
  <ul class="filters">
    <li>
      <span>Kaoshiung</span>
      <a href="#" class="remove"></a>
    </li>
    <li>
      <span>Entertainment</span>
      <a href="#" class="remove"></a>
    </li>
  </ul>
</div>
<ul class="content-lists">
  
  <li class="article" *ngFor="let item of article_datas">
    <figure>
      <img src="{{item.Picture1}}" alt="{{item.Name}}">
    </figure>
    <div class="article-block">
      <a [routerLink]="['article', item.Id]" class="name" data-key="Name">{{item.Name}}</a>
      <div class="description" data-key="Description">{{item.Description}}</div>
      <div class="misc">
        <div class="author">{{item.Opentime}}</div>
        <div class="category">{{item.Ticketinfo}}</div>
      </div>
      <div class="meta">
        <div class="location">
          <fa name="map-marker"></fa>
          <span data-key="Add">{{item.Add}}</span>
        </div>
        <div class="datetime">
          <fa name="calendar"></fa>
          <span data-key="Changetime">{{item.Changetime}}</span>
        </div>
      </div>
    </div>
  </li>

</ul>

<app-pagination-module [total]="total" [limit]="20"></app-pagination-module>"