<div class="filters-block">
  <p>Showing <span>15</span> results by...</p>
  <ul class="filters">
    <li>
      <span>Kaoshiung</span>
      <a href="#" class="remove"></a>
    </li>
    <li>
      <span>Entertainment</span>
      <a href="#" class="remove"></a>
    </li>
  </ul>
</div>
<div class="contents">
  <article>
    <figure>
      <img src="http://khh.travel/FileArtPic.ashx?id=705&w=220&h=220" alt="">
    </figure>
    <div class="article-block">
      <p class="name" data-key="Name">玉皇宮(天公廟)</p>
      <div class="description" data-key="Description">位於三民區河北路的玉皇宮(又稱天公廟)創建於1920年，主祀玉皇大帝。原僅為鼓山區許姓私人家祀，由於二次大戰期間鄰里間災情慘重，唯許家安然無恙，民眾口耳相傳天公保佑，於是信眾大增，1961年至現址興建。玉皇宮外觀金碧輝煌、巍峨宏偉，凌宵大殿也全部貼以金飾，襯托神明的法相莊嚴。尤其每逢大年初一子時及初九天公生，民眾相偕頂禮膜拜保佑一年平安順遂，為高雄地區香火鼎盛的道教聖地。</div>
      <div class="misc">
        <div class="author">Ethan Foster</div>
        <div class="category">Entertainment</div>
      </div>
      <div class="meta">
        <div class="location">
          <fa name="map-marker"></fa>
          <span data-key="Add">高雄市三民區河北二路218號</span>
        </div>
        <div class="datetime">
          <fa name="calendar"></fa>
          <span data-key="Changetime">2015-06-03T14:10:48</span>
        </div>
      </div>
    </div>
  </article>

  <article>
      <figure>
        <img src="http://khh.travel/FileArtPic.ashx?id=705&w=220&h=220" alt="">
      </figure>
      <div class="article-block">
        <p class="name" data-key="Name">玉皇宮(天公廟)</p>
        <div class="description" data-key="Description">位於三民區河北路的玉皇宮(又稱天公廟)創建於1920年，主祀玉皇大帝。原僅為鼓山區許姓私人家祀，由於二次大戰期間鄰里間災情慘重，唯許家安然無恙，民眾口耳相傳天公保佑，於是信眾大增，1961年至現址興建。玉皇宮外觀金碧輝煌、巍峨宏偉，凌宵大殿也全部貼以金飾，襯托神明的法相莊嚴。尤其每逢大年初一子時及初九天公生，民眾相偕頂禮膜拜保佑一年平安順遂，為高雄地區香火鼎盛的道教聖地。</div>
        <div class="misc">
          <div class="author">Ethan Foster</div>
          <div class="category">Entertainment</div>
        </div>
        <div class="meta">
          <div class="location">
            <fa name="map-marker"></fa>
            <span data-key="Add">高雄市三民區河北二路218號</span>
          </div>
          <div class="datetime">
            <fa name="calendar"></fa>
            <span data-key="Changetime">2015-06-03T14:10:48</span>
          </div>
        </div>
      </div>
    </article>

  <article>
      <figure>
        <img src="http://khh.travel/FileArtPic.ashx?id=705&w=220&h=220" alt="">
      </figure>
      <div class="article-block">
        <p class="name" data-key="Name">玉皇宮(天公廟)</p>
        <div class="description" data-key="Description">位於三民區河北路的玉皇宮(又稱天公廟)創建於1920年，主祀玉皇大帝。原僅為鼓山區許姓私人家祀，由於二次大戰期間鄰里間災情慘重，唯許家安然無恙，民眾口耳相傳天公保佑，於是信眾大增，1961年至現址興建。玉皇宮外觀金碧輝煌、巍峨宏偉，凌宵大殿也全部貼以金飾，襯托神明的法相莊嚴。尤其每逢大年初一子時及初九天公生，民眾相偕頂禮膜拜保佑一年平安順遂，為高雄地區香火鼎盛的道教聖地。</div>
        <div class="misc">
          <div class="author">Ethan Foster</div>
          <div class="category">Entertainment</div>
        </div>
        <div class="meta">
          <div class="location">
            <fa name="map-marker"></fa>
            <span data-key="Add">高雄市三民區河北二路218號</span>
          </div>
          <div class="datetime">
            <fa name="calendar"></fa>
            <span data-key="Changetime">2015-06-03T14:10:48</span>
          </div>
        </div>
      </div>
    </article>

  <article>
      <figure>
        <img src="http://khh.travel/FileArtPic.ashx?id=705&w=220&h=220" alt="">
      </figure>
      <div class="article-block">
        <p class="name" data-key="Name">玉皇宮(天公廟)</p>
        <div class="description" data-key="Description">位於三民區河北路的玉皇宮(又稱天公廟)創建於1920年，主祀玉皇大帝。原僅為鼓山區許姓私人家祀，由於二次大戰期間鄰里間災情慘重，唯許家安然無恙，民眾口耳相傳天公保佑，於是信眾大增，1961年至現址興建。玉皇宮外觀金碧輝煌、巍峨宏偉，凌宵大殿也全部貼以金飾，襯托神明的法相莊嚴。尤其每逢大年初一子時及初九天公生，民眾相偕頂禮膜拜保佑一年平安順遂，為高雄地區香火鼎盛的道教聖地。</div>
        <div class="misc">
          <div class="author">Ethan Foster</div>
          <div class="category">Entertainment</div>
        </div>
        <div class="meta">
          <div class="location">
            <fa name="map-marker"></fa>
            <span data-key="Add">高雄市三民區河北二路218號</span>
          </div>
          <div class="datetime">
            <fa name="calendar"></fa>
            <span data-key="Changetime">2015-06-03T14:10:48</span>
          </div>
        </div>
      </div>
    </article>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination pull-right">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>